# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../:\Users\Noob\Desktop\c0920i1_VuTuanAnh\Project-CodeGym\Module2\11-10-2020\static-property\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
